@charset 'utf-8';

body {
	background: #fff;
	margin: 0
}

* {
	box-sizing: border-box
}

/* MAIN */
.container {
	max-width: 700px;
	margin: 0 auto
}

.loading {
	text-align: center;
	color: #bababa;
	font-size: 20px;
	height: 100vh;
	line-height: 100vh
}